<p><br>
<span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif">Hi,&nbsp;<br>
<br>
you have successfully registered for the MOMENTVM Content Cloud.&nbsp;<br>
<br>
These are the next steps:</span></p>

<ol>
	<li><span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif">Your account will now be checked by an administrator.&nbsp;</span></li>
	<li><span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif">After the approval you will receive an e-mail with your access data.</span></li>
	<li><span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif">Log in to MOMENTVM. Start creating and publishing new content easily.</span></li>
</ol>

<p><br>
<br>
</p>