<p style="text-align: justify; font-style: normal; font-weight: normal;">

                Owner Firstname: <%= team.owner_firstname%> <br>
                Owner Lastname: <%= team.owner_lastname%><br>
                Owner Email: <%= team.owner_email%><br>
                Company: <%= team.name%><br>
</p>