<p style="text-align: justify; font-style: normal; font-weight: normal;">
	Hello, <br><br>
	a new account for the team <%= team.name %> of Momentvm Content Cloud was created for you! <br><br>

	URL:	 	 <%= ENV["HOST"] %>  <br>
	Username:  <%= user.email %>  <br><br>

	To create your password, click the link below:  <br><br>
	<a href="<%= ENV["DEFAULT_HOST"] + "/reset-password?password_reset_token=#{user.reset_password_token}" %>">Create password</a> <br><br>


	Hint: <em>Check out the MOMENTVM Video Documentation and learn how to
	get the most out of your brand new CMS.</em><br><br>

</p>