<h1>Templates</h1>
<p>
  This area is mostly used by your developers or by MOMENTVM.
</p>
<br>
<p>
  Templates are a blueprint for page modules.
</p>
<p>
  Template schemas belong to a template and tells the editor which fields should be editable in the template.
</p>
<br>

<div class="menu">
  <%= link_to "Templates", templates_path, class: "ui button item" %>
  <%= link_to "Template Schemas", template_schemas_path, class: "ui button item" %>
</div>