<%= csrf_meta_tags %>
<link
	href="https://fonts.googleapis.com/css?family=Nunito+Sans"
	rel="stylesheet"
/>
<%= javascript_packs_with_chunks_tag 'page_folders' %>

<meta name="viewport" content="width= 768, initial-scale=1" />
<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet"
/>
<div style="max-width: 98%;" id="page_folders"></div>
