<%= csrf_meta_tags %> 
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet" />
<%= javascript_packs_with_chunks_tag 'live_editor' %>
<%= stylesheet_packs_with_chunks_tag 'live_editor' %>
<meta name="viewport" content="width= 768, initial-scale=1" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<div id="react-live-editor"></div>
