<% if @page.next_gen? %> <%= javascript_packs_with_chunks_tag 'page-show-new-entry' %>
<div id="page-view-react" data-page-id="<%= @page.id %>"></div>
<% else %> <%= render partial: 'old_show' %> <% end %>
