<div class="signin">

  <div class="signin grid">
    <div class="logo"></div>
    <div class="form">
      <div class="form-container">
      <h1>Please Login</h1>
      <%= render 'form' %>
      </div>
    </div>
  </div>

</div>
